<?xml version="1.0" encoding="UTF-8"?>
<VAST version="2.0.1">

		<Ad >
			<InLine>
				<AdSystem version="1.0">AdsPLAY</AdSystem>
				<AdTitle><![CDATA[a]]></AdTitle>
				
				<Creatives>
					<Creative sequence="1">
					<NonLinearAds>
					<NonLinear height="120" width="480" maintainAspectRatio="true" scalable="true" minSuggestedDuration="00:00:30">
					<StaticResource creativeType="image/jpeg">	https://st88.adsplay.net/ads/overlay/1489977773087/7c637cbaeb44256c24ba01a8c31b1c11.jpg </StaticResource>
					<NonLinearClickThrough> https://www.toshiba.com.vn/san-pham/thiet-bi-gia-dung </NonLinearClickThrough>
					</NonLinear>
					</NonLinearAds>
					</Creative>
				</Creatives>
			</InLine>
		</Ad>
		
	
</VAST>
